<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:name=".database.TaskApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_tasky_round"
        android:label="@string/app_name"
        android:roundIcon="@drawable/baseline_add_task_24"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tasky"
        tools:targetApi="31" >

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCrArcbS_fPXa2aes1mHf42LIGHb8EtTdQ" />

        <activity
            android:name=".activities.MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".activities.Home"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.SettingsActivity" />
    </application>

</manifest>